
.dark-mode-toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

body{
  transition: background-color 0.5s, color 0.5s;
}

.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 20px;
  position: relative;
}

.toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + .toggle-label {
  background: #2c3e50; 
}

.dark-mode-toggle input[type="checkbox"]:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: #f1c40f; 
}


.dark-mode {
  background-color: #333;
  color: #fff;
}

.white-mode {
  background-color: white;
}

main{
  display: flex;
  flex-direction: column;
}

.filmes{
  display: flex;
  flex-direction: column;
}

.filhasFilmes{
  display: flex;
  flex-direction: column;
}

button{
  width: 20%;
}

img{
  width: 200px;
}



#botao{
  background-color: #f1c40f;
  border: none;
  padding: 3px;
  color: white;
}

#mostrar{
  display: flex;
  border: none;
  background-color: white;
  margin-right: 30px;
}